{% extends 'locacao/base.html' %}
{% block title %}Listagem de Livros{% endblock %}

{% block content %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Livro</th>
                </tr>
            </thead>
            <tbody>
                {% if livros_list %}
                    {% for livro in livros_list %}
                    <tr>
                        <th scope="row"><a href="/locacao/{{ livro.id }}/">{{ livro.id }}</a></th>
                        <td>{{ livro.titulo }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
{% endblock %}